
input{
    border: 3px solid;
    height: 4vh;
    margin-left: 100px;
    margin-top: 20px;
    width: 60%;
    font-size: 18px;
    font-weight: bold; 
}

span{
    font-size: 18px;
    font-weight: bold; 
}

img{
    height: 90px;
    width: 90px;
}

